/* Scss Document */

.footer {
	min-height: 10rem;
	background-color: #222222;
	padding: 1.5rem;
	color: white;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	
	.footer-contact {
		> span {
			margin-right: 2rem;
		}
	}
	
	.logo {
		width: 120px;
		height: 45px;
		margin: 1rem;
	}
	
	.icon {
		height: 14px;
		margin-right: 0.4rem;
	}
}