/* Scss Document */
@import 'intro';
@import 'trans-categories';
@import 'pricing';
@import 'popup';
@import 'footer';


html, body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Roboto', 'Open Sans', sans-serif;
}

.navbar {
	padding: 10px 20px 0;
	font-weight: 300;
	
	&.inverted {
		background-color: rgba(255, 255, 255, 1);
		a {
			color: rgba(0, 0, 0, 1);
		}
		
		.vertical-line {
			background-color: #000;
		}
	}
	
	.navbar-brand {
		width: 120px;
	}
	
	.navbar-collapse {
		@media only screen and (max-width: 992px) {
			background-color: white;
		}
	}
	
	li {
		margin-left: 1.4rem;
		height: 45px;
	}
	
	a {
		color: white;
		font-size: 14px;
		
		&:hover, :active, :focus {
			outline: none;
		}
		
		.phone-nav {
			height: 16px;
			margin-right: 0.8rem;
			position: relative;
			top: 2px;
		}
	}
	
	object path {
		fill: #000;
	}
	
	.dropdown-item {
		color: black;
	}
	
	.contact-link {
		font-size: 15px !important;
		cursor: default;
		position: relative;
		top: -2px;
	}
}

.vertical-line {
	width: 2px;
	margin-top: 4px;
	height: 28px !important;
	background-color: #fff;
	margin-left: 3rem !important;
}