/* Scss Document */
@import 'intro';
@import 'trans-categories';
@import 'footer';


html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Open Sans', sans-serif;
}

.navbar {
	padding: 10px 20px 10px;
	font-weight: 300;
	background-color: rgba(0,0,0,0.3);
	
	.navbar-brand {
		width: 120px;
	}
	
	.navbar-collapse {
		@media only screen and (max-width: 992px) {
			background-color: white;
		}
	}
	
	li {
		margin-left: 1.5rem;
		
		&.active {
			border-bottom: 2px solid #fff;
		}
	}
	
	a {
		color: white;
		font-size: 0.88rem;
		height: 45px;
		vertical-align: middle;
		line-height: 2;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-khtml-user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		
		-webkit-transition: color 0.3s;
		transition: color 0.3s;
		
		&.navbar-brand {
			position: relative;
			top: -5px;
		}
	}
	
	.dropdown-item {
		color: black;
	}
	
	.contact-link {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
		height: 45px;
		border: 2px solid #fff;
		border-radius: 0.25rem;
		text-align: center;
		cursor: default;
		
		.icon {
			margin-right: 20px;
		}
	}
}