/* Scss Document */
/* Scss Document */
.intro {
  background-image: linear-gradient(to top, #00fff0 0%, #0062c6 100%);
  height: 100vh;
  width: 100%;
  padding-top: 67px;
  position: relative; }
  .intro .title {
    color: #fff;
    margin-top: 10vh;
    text-align: center;
    padding: 0 4%; }
    .intro .title h1 {
      font-size: 2rem;
      font-weight: 500;
      color: #fff;
      letter-spacing: 6px; }
    .intro .title h5 {
      font-size: 1rem;
      font-weight: 100;
      margin-top: 19px; }
    .intro .title .btn {
      margin: 2.5vh 15px;
      min-width: 10rem;
      box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      background-color: #ffffff;
      borer: none;
      color: #009fc1;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 1.8px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
      .intro .title .btn:hover {
        -webkit-box-shadow: 0px 13px 19px -7px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 13px 19px -7px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 13px 19px -7px rgba(0, 0, 0, 0.15);
        color: #0084A0; }
      .intro .title .btn:active {
        -webkit-box-shadow: 0px 13px 19px -12px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 13px 19px -12px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 13px 19px -12px rgba(0, 0, 0, 0.15); }
  .intro img.landmark {
    position: absolute;
    width: 60%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }
  .intro img.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw; }

/* Scss Document */
.translations-categories {
  height: 100vh;
  width: 100%;
  padding-top: 67px;
  position: relative; }
  .translations-categories img.landmark {
    position: absolute;
    width: 60%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }
  .translations-categories img.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw; }
  .translations-categories .title {
    color: #000;
    margin-top: 1vh;
    text-align: center;
    padding: 0 3%; }
    .translations-categories .title h1 {
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 6px; }
    .translations-categories .title h5 {
      font-size: 1rem;
      font-weight: 100;
      margin-top: 19px; }
  .translations-categories .categories {
    margin: 0 auto; }
  .translations-categories .tile {
    height: 11rem;
    box-shadow: 0 30px 100px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 1rem; }
    .translations-categories .tile .tile-header {
      width: 100%;
      height: 35%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      position: relative; }
      .translations-categories .tile .tile-header.samochodowe {
        background-color: #02ccba; }
      .translations-categories .tile .tile-header.medyczne {
        background-color: #ff5483; }
      .translations-categories .tile .tile-header.techniczne {
        background-color: #a951ed; }
      .translations-categories .tile .tile-header.prawnicze {
        background-color: #02b3e4; }
      .translations-categories .tile .tile-header.prywatne {
        background-color: #ffa234; }
    .translations-categories .tile .tile-body {
      text-align: center;
      padding: 7% 5%;
      font-size: 0.9rem;
      font-weight: 300; }
      .translations-categories .tile .tile-body h1 {
        font-size: 1rem;
        font-weight: 500; }
    .translations-categories .tile .icon {
      width: 20%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      margin: auto;
      margin-left: -10%; }

/* Scss Document */
.footer {
  height: 10rem;
  background-color: #222222;
  padding: 1.5rem;
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-align: center; }
  .footer .footer-contact > span {
    margin-right: 2rem; }
  .footer .logo {
    width: 120px;
    height: 45px;
    margin: 1rem; }
  .footer .icon {
    height: 14px;
    margin-right: 0.4rem; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Open Sans', sans-serif; }

.navbar {
  padding: 10px 20px 0;
  font-weight: 300; }
  .navbar.inverted {
    background-color: white; }
    .navbar.inverted a {
      color: black; }
    .navbar.inverted .vertical-line {
      background-color: #000; }
  .navbar .navbar-brand {
    width: 120px; }
  @media only screen and (max-width: 992px) {
    .navbar .navbar-collapse {
      background-color: white; } }
  .navbar li {
    margin-left: 1.4rem;
    height: 45px; }
  .navbar a {
    color: white;
    font-size: 14px; }
    .navbar a:hover, .navbar a :active, .navbar a :focus {
      outline: none; }
    .navbar a .phone {
      height: 16px;
      margin-right: 0.8rem;
      position: relative;
      top: 2px; }
  .navbar object path {
    fill: #000; }
  .navbar .dropdown-item {
    color: black; }
  .navbar .contact-link {
    font-size: 15px !important;
    cursor: default;
    margin-left: 1.6rem;
    position: relative;
    top: -2px; }

.vertical-line {
  width: 2px;
  margin-top: 4px;
  height: 28px !important;
  background-color: #fff;
  margin-left: 3rem !important; }
